<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etocrm.dao.db2.UserEntityDao">

    <select id="selectByUsername" parameterType="java.lang.String" resultType="com.etocrm.pojo.UserEntity">
     select id, username,  password,nickname,roles  from JOB_USER where username = #{username}   
    </select>
    
    <insert id="insert" parameterType="com.etocrm.pojo.UserEntity" >
     insert into JOB_USER(username, password, nickname, roles) values(#{username}, #{password}, #{nickname}, #{roles})
    </insert>
   </mapper>